.title-bar {
  -webkit-app-region: drag;
  height: 44px;
  background-color: #0b111e;
  color: #dbe0e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0; /* Changed padding to 0 */
  width: 100%;
  user-select: none;
  flex-shrink: 0;
}

.title-bar-left {
  display: flex;
  align-items: center;
  padding-left: 10px; /* Add padding here instead */
}

.title-bar-icon {
  height: 40px;
  width: 40px;
  margin-right: 8px;
}

.title-bar-text {
  font-size: 13px;
  font-weight: 500;
}

/* Styles for the window control buttons */
.title-bar-right {
  display: flex;
  height: 100%;
}

.window-control {
  -webkit-app-region: no-drag; /* CRITICAL: Makes the buttons clickable */
  background: transparent;
  border: none;
  color: white;
  font-family: "Segoe MDL2 Assets", sans-serif; /* Font for Windows icons */
  font-size: 10px;
  padding: 0 15px;
  height: 100%;
  cursor: default;
}

.window-control:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.window-control-close:hover {
  background-color: #e81123; /* Red hover for close button */
}